/* Elems */

body {
  width: 16rem;
  
  background-color: rgb(64, 64, 64);
  font-size: 0.875rem;
  color: rgb(224, 224, 224);
  
  margin: 0;
}

button {
  background-color: rgb(255, 64, 64);
}

a {
  color: rgb(224, 0, 0);
  font-weight: bold;
}

a:hover {
  color: rgb(192, 0, 0);
}

input {
  max-width: 60%;
}

/* Footer */

footer {
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  font-size: 12px;
  
  background-color: rgba(128, 240, 128, 0.25);
}

footer > div {
  margin: auto;
  width: 80%;
}

#footerDetails {
  position: relative;
  overflow-y: hidden;
  transition: max-height 1s;
}

#footerDetailsButton {
  text-align: center;
  line-height: 2em;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  cursor: pointer;
}

/* Nav */

.navCont {
  width: 100%;
  overflow-x: auto;
}

table.nav {
  border-collapse: collapse;
}

td.nav {
  background-color: rgb(0, 0, 0);
  padding: 4px;
  
  cursor: pointer;
  
  white-space: nowrap;
}

td.nav:hover {
  background-color: rgb(32, 32, 32);
}

.sect {
  margin: 8px;
  display: none;
}

td.navSel {
  background-color: rgb(64, 64, 64) !important;
}

div.navSel {
  display: block !important;
}