body {
  width: 16rem;
  
  background-color: rgb(64, 64, 64);
  font-size: 0.875rem;
  color: rgb(224, 224, 224);
}

button {
  background-color: rgb(255, 64, 64);
}

a {
  color: rgb(224, 0, 0);
  font-weight: bold;
}

a:hover {
  color: rgb(192, 0, 0);
}

input {
  max-width: 60%;
}